.hidden { 
    display: none;
} 

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
   
}
button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* conteiner*/
.container {
            max-width: 320px;
            padding: 0 16px;
            margin: 0 auto;
        }
@media screen and (min-width: 768px) { 
            .container {
                max-width: 768px;
            }
        }
         @media screen and (min-width: 1158px ) {
        .container {
            max-width: 1158px;
            padding: 0 15px;
        }
     }
         .header {
    
             border-bottom: 1px solid #e7e9fc;
             box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
             background: #fff;
    
     }

.header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        }
        
.header-list,
.adress {
    display: none;
} 
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
 
display: block;
padding: 16px 0;
}



.header-logo-span {

    color: #2e2f42;

}

.icon-hero-btm {
    margin: 0;
    border: none;
    background-color: transparent;
}
.icon-hero-btm-menu { 
    display: block;
    fill: #2e2f37;
}
@media screen and (min-width: 768px) {

    .icon-hero-btm {
        display: none;
    }
    .header-logo {
    padding: 24px 0;
    margin-right: 120px;
    }
        .header-list {
        display: flex;
        align-items: center; 
        gap: 40px;
    
        }
 .adress {
     font-style: normal;
    display: block;
          }
.header-navigation {
display: flex;
  align-items: center; 
 }
 .header-items {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;

     padding: 24px 0 24px;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 .header-items.current {
     position: relative;
 }

 .header-items.current::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: -1px;
     border-radius: 2px;
     background: #404bbf;
     height: 4px;
     width: 100%;
 }

 .header-items:hover,
 .header-items:focus,
 .header-items.current {
     color: #404bbf;
 
} 
.adres-list-item:hover,
.adres-list-item:focus {
    color: #404bbf;

}
.adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.adres-list-item {
    font-size: 12px;
    color: #434455;
    line-height: 117%;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: block;

}

}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
        .adres-list-item {
    
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
         
    padding: 24px 0 24px; }

 .adress-list {
  flex-direction: row;
  align-items: center;
    
    gap: 40px;
    
  }
  .adress {
      font-style: normal;

  }
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.mobile-menu-container {
    position: fixed;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}
.header-navigation-mobile {
    margin-bottom: auto;
}
.modal-close-btm-mobile {
    position: absolute;
    top: 24px;
    right: 24px;
}
.header-list-mobile li:not(:last-child) {
margin-bottom: 40px;
} 
.header-items-mobile {
  
        font-weight: 700;
        font-size: 36px;
    
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-mobile {
    margin-bottom: 48px;
}
.adres-list-item-mobile {

        font-weight: 500;
        font-size: 20px;
    
       
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-items-mobile:hover,
.header-items-mobile:focus {
    color: #4d5ae5;
}

.adres-list-item-mobile:hover,
.adres-list-item-mobile:focus {
    color: #4d5ae5;
}
.adress-list-mobile li:not(:last-child) {
    margin-bottom: 24px;
}
.footer-iconk-list-mobile {
    width: 40px;
    height: 40px;

}
.footer-iconk-ul-mobile {
    display: flex;
    gap: 16px;


}
.footer-iconk-mobile {
    fill: #f4f4fd;
}

.footer-iconk-a-mobile {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-iconk-a-mobile:hover,
.footer-iconk-a-mobile:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.hero {
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office1.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2e2f42;
}
.hero-title {
font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;

}

.hero-btn {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.hero-btn:hover,
.hero-btn:focus {

    background-color: #404BBF;
}
@media screen and (min-width: 768px) {
.hero {
    padding: 112px 0;
        max-width: 768px;
}
.hero-title {
    max-width: 496px;
    margin-bottom: 36px;
}
}
@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        max-width: 1440px;
    }
        .hero-title {
        max-width: 496px;
       
            margin-bottom: 48px;
        }
}
.team {
    padding: 96px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}
.team-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
  }
  .team-iconk {
    display: none;
  }
  .team-list-item {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2e2f42;

    display: flex;
      border-radius: 0px 0px 4px 4px;
      flex-wrap: wrap;
    
  }
  .team-title {
    
        font-weight: 700;
        font-size: 36px;  
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        align-items: center;
  }
  .team-text {
  
    
        font-weight: 500;
        font-size: 16px;
 
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        max-width: 288px;
  }
  @media screen and (min-width: 768px) {
    .team-list {
       
            
     gap: 72px 24px ;
            
        }
 .team-list-item {
flex-basis: calc((100% - 24px) / 2);
 }
  .team-text {
    max-width: 356px;
  }
  
  }
        @media screen and (min-width: 1158px) {
            .team {
                padding: 120px 0;
            }
            .team-iconk {
              display: block;
            }
.team-list {
gap: 24px;
   }
   .team-list-item {
    flex-basis: calc((100%-72px)/4);
  
            max-width: 264px;
        
   }
   .team-iconk-div {

       width: 100%;


       display: flex;
       align-items: center;
       justify-content: center;
       border: 1px solid #8e8f99;
       border-radius: 4px;
       background: #f4f4fd;
       height: 112px;
       margin-bottom: 8px;


   }
        .team-text {
            max-width: 264px;
        }

        }

        .our-team {
            background-color: #F4F4FD;
            padding: 96px 0;
         
        }
                .our-team-title {
                    text-transform: capitalize;
                    font-size: 36px;
                    line-height: 1.11;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #2e2f42;
                    margin-bottom: 72px;
        
        
                }
.our-team-iconk-ul {
    display: flex;
    
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}
.our-team-iconk-list {
    width: 40px;
    height: 40px;
}
.our-team-iconk {
    fill: #f4f4fd;
}

.our-team-iconk-a {
    width: 100%;
    height: 40px;
    border-radius: 50%;

    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.our-team-iconk-a:hover,
.our-team-iconk-a:focus {
    background-color: #404bbf;
}


.our-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;


}

.our-team-hp {
    padding: 32px 0;
}

.our-team-list-item {

    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
 
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





.our-team-title-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}


.our-team-text {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
  @media screen and (min-width: 768px) {
 .container-team {
    padding-left: 108px;
    padding-right: 108px;
 }
   .our-team-list{
    gap: 72px 24px;
} 
.our-team-list-item {
    max-width: 264px;
width: calc((100% - 24px) / 2);
}

  }
        @media screen and (min-width: 1158px) {
            .our-team {
                 
                    padding: 120px 0;
                }
        }
  