.hidden { 
    display: none;
} 

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* conteiner*/
.container {
            width: 320px;
            padding: 0 16px;
            margin: 0 auto;
        }
@media screen and (min-width: 768px) { 
            .container {
                max-width: 768px;
            }
        }
         @media screen and (min-width: 1158px ) {
        .container {
            max-width: 1158px;
            padding: 0 15px;
        }
     }
         .header {
    
             border-bottom: 1px solid #e7e9fc;
             box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
             background: #fff;
    
     }

.header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        }
        
.header-list,
.adress {
    display: none;
} 
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
 
display: block;
padding: 16px 0;
}



.header-logo-span {

    color: #2e2f42;

}

.icon-hero-btm {
    margin: 0;
    border: none;
    background-color: transparent;
}
.icon-hero-btm-menu { 
    display: block;
    fill: #2e2f37;
}
@media screen and (min-width: 768px) {

    .icon-hero-btm {
        display: none;
    }
    .header-logo {
    padding: 24px 0;
    margin-right: 120px;
    }
        .header-list {
        display: flex;
        /align-items: center; 
        gap: 40px;
    
        }
 .adress {
     font-style: normal;
    display: block;
          }
.header-navigation {
display: flex;
  align-items: center; 
 }
 
}